

    <p class="address_box" id="newsletters" >
      <span class="newsletter_option">
        <span style="font-size:11px;">
            <input type="checkbox" name="newsletter_signup" id="newsletter_option" value="1" checked="checked" >
            Sign up for our monthly newsletter and exclusive, unadvertised promotions
        </span>
      </span>
    </p>
